In [1]:
# Importing necessary libraries
import pandas as pd
import seaborn as sns

# Loading the Titanic dataset included in Seaborn
titanic = sns.load_dataset('titanic')

# Displaying the first few rows of the dataset to understand its structure
print(titanic.head())

# Step 1: Categorizing age into predefined ranges using pd.cut
# Define age bins
age_bins = [0, 12, 18, 35, 60, 100]
age_labels = ['Child', 'Teenager', 'Young Adult', 'Adult', 'Senior']
titanic['age_group'] = pd.cut(titanic['age'], bins=age_bins, labels=age_labels)

# Step 2: Categorizing age into percentiles using pd.qcut
# Divide age into quartiles
titanic['age_percentile'] = pd.qcut(titanic['age'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

# Step 3: Grouping data by multiple variables
# Example: Survival rate by age group and class
survival_by_group = titanic.groupby(['age_group', 'class'])['survived'].mean()

# Step 4: Displaying the results
print("Survival rate by age group and class:")
print(survival_by_group)

# Step 5: Advanced grouping with an additional variable
# Example: Average fare by age percentile and embarkation town
fare_by_group = titanic.groupby(['age_percentile', 'embark_town'])['fare'].mean()

# Display the results
print("Average fare by age percentile and embarkation town:")
print(fare_by_group)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Survival rate by age group and class:
age_group    class
Child        First     0.750000
             Second    1.000000
             Third     0.416667
Teenager     First     0.916667
             Second    0.500000
             Third     0.282609
Young Adult  First     0.757576
             Second    0.436170
             Third     0.232323
Adult        First     0.611111
             Second    0.382979
             Third     0.086207
Senior       First     0.214286
             Second    0.333333
             Third     0.200000
Name: survived, dtype: float64
Average fare by age percentile and embarkation town:
age_percentile  embark_town
Q1              Cherbourg      42.311859
                Queenstown     16.139170
                Southampton    27.944007
Q2              Cherbourg      64.992342
                Queenstown      7.743750
                Southampton    22.034597
Q3              Cherbourg      90.578750
                Queenstown     21.264286
                Southampton    28.092516
Q4              Cherbourg      75.472300
                Queenstown     24.317857
                Southampton    32.452558
Name: fare, dtype: float64